body
  font-family sans-serif
  
.clients
  .client
    font-size .9em
    line-height 1.6em
    font-weight bold
    &:hover
      color blue
      
.page_report
  .controls
    display none
  
.report
  .item
    display flex
    margin-bottom .3em
    font-size .88em
    label
      width 13em
  .dividend, .payslip
    margin-bottom 1em