html
  head
    title Workr FreeAgent Report
    link(rel='stylesheet', href='./index.css')
  body
    .controls
      .mr-dates
        .item
          label(for='dateFrom') Date From
          input#dateFrom(type='date', value='2020-04-06')
        .item
          label(for='dateTo') Date To
          input#dateTo(type='date', value='2021-04-05')
      .mr-button
        input#makeReport(type='button', onclick='app.makeReport()', value='Make Report')
      .mr-search
        input#refreshClients(type='button', onclick='app.refreshClients()', value='Refresh Clients')
        input#logout(type='button', onclick='app.logout()', value='Log out')
        input#search(type='text', onkeyup='app.search(this.value)', placeholder='Search Clients')
    .app
    //.debug
    script#clients(type='text/template')
      input(type='checkbox', checked, onchange='app.doSelect(this.id, this.checked)', id='selectAll') 
      | Select All
      .clients {{clients.filter(client => client.name.toLowerCase().includes(app.getSearch().toLowerCase())).map(client => app.fill(app.$('script#client').innerText, client)).join('')}}
    script#client(type='text/template')
      .client
        input(type='checkbox', checked, onchange='app.doSelect(this.id, this.value)', id='c{{subdomain}}')
        a(onclick='app.singleReport("{{subdomain}}")') {{name}}
    script#loading(type='text/template')
      .loader
        h2 Loading report for 
        h1 {{name}}
        svg.spinner(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve')
          path(fill='#12b8c1' d='M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3   c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z')
            animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='2s' from='0 50 50' to='360 50 50' repeatCount='indefinite')
          path(fill='#12b8c1' d='M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7   c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z')
            animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='-360 50 50' repeatCount='indefinite')
          path(fill='#12b8c1' d='M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5   L82,35.7z')
            animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='2s' from='0 50 50' to='360 50 50' repeatCount='indefinite')
    script#fetching(type='text/template')
      h1 Fetching clients
      h2 Please wait
      svg.spinner(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve')
        path(fill='#12b8c1' d='M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3   c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z')
          animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='2s' from='0 50 50' to='360 50 50' repeatCount='indefinite')
        path(fill='#12b8c1' d='M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7   c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z')
          animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='-360 50 50' repeatCount='indefinite')
        path(fill='#12b8c1' d='M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5   L82,35.7z')
          animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='2s' from='0 50 50' to='360 50 50' repeatCount='indefinite')

    script#report(type='text/template')
      .report
        input(type='button', onclick='app.gotoClients()', value='Back to clients')
        .company
          h3 Company
          .item
            label ID
            .data {{id}}
          .item
            label Subdomain
            .data {{subdomain}}
          .item
            label CRN
            .data {{crn}}
          .item
            label Company Name
            .data {{name}}
        .dividends
          h3 Shareholder Dividends
          span {{dividends.map(dividend => app.fill(app.$('script#dividend').innerText, dividend)).join('')}}
          span {{dividends.length===0&&'<div class="error">Date range error</div>'||''}}
        .payroll
          h3 Payroll
          span {{payroll.map(payslip => app.fill(app.$('script#payslip').innerText, payslip)).join('')}}
    script#dividend(type='text/template')
      .dividend
        .item
          label Nominal
          .data {{nominal}}
        .item
          label User
          .data {{user}}
        .item
          label Name
          .data {{name}}
        .item
          label NiNo
          .data {{nino}}
        .item
          label Total Dividends
          .data {{app.currency(totalDividends)}}
    script#payslip(type='text/template')
      .payslip
        .item
          label User
          .data {{user}}
        .item
          label Name
          .data {{name}}
        .item
          label NiNo
          .data {{nino}}
        .item
          label Gross Pay
          .data {{app.currency(grossPay)}}
        .item
          label Tax Paid
          .data {{app.currency(taxPaid)}}
        .item
          label Student Loan Repayment
          .data {{app.currency(studentLoanRepayment)}}
        .item
          label Postgrad Loan Repayment
          .data {{app.currency(postgradLoanRepayment)}}
        .item
          label P45 Gross Pay
          .data {{app.currency(p45GrossPay)}}
        .item
          label P45 Tax Paid
          .data {{app.currency(p45TaxPaid)}}
        
        
    script(type='text/javascript').
      require('./renderer.js')